In [1]:
# pandas를 pd로 import
import pandas as pd

# series 데이터
fruits = {"orange" : 2, "banana" : 3}
print(pd.Series(fruits))

orange    2
banana    3
dtype: int64

In [2]:
# Pandas를 pd로 import
import pandas as pd

# DataFrame 데이터
data = {"fruits" : ["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "year" : [2001, 2002, 2001, 2008, 2006],
        "time" : [1, 4, 5, 6, 3]}
df = pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [2]:
# Pandas를 pd로 import
import pandas as pd

# Series용 라벨(인덱스)을 작성
index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# Series용 데이터를 대입
data = [10, 5, 8, 12, 3]

# Series 작성
series = pd.Series(data, index=index)

# 딕셔너리형을 사용하여 DataFrame용 데이터 작성
data = {"fruits" : ["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "year" : [2001, 2002, 2001, 2008, 2006],
        "time" : [1, 4, 5, 6, 3]}

# DataFrame 작성
df = pd.DataFrame(data)

print("Series 데이터")
print(series)
print("\n")
print("DataFrame 데이터")
print(df)

Series 데이터
apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64


DataFrame 데이터
       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [3]:
# pandas를 pd로 import
import pandas as pd

fruits = {"banana": 3, "orange": 2}
print(pd.Series(fruits))

banana    3
orange    2
dtype: int64

In [7]:
# Pandas를 pd로 import
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]

# index와 data를 포함한 Series를 만들어 series에 대입
series = pd.Series(data, index = index)
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

In [8]:
import pandas as pd
fruits = {"banana" : 3, "orange" : 4, "grape" : 1, "peach" : 5}
series = pd.Series(fruits)
print(series[0:2])

banana    3
orange    4
dtype: int64

In [ ]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index = index)

item1 = series[1:4]
item2 = series[]