In [1]:
import pandas as pd

fruits = {"orange" : 2, "banana" : 3}
print(pd.Series(fruits))

orange    2
banana    3
dtype: int64

In [2]:
import pandas as pd

data = {"fruits" : ["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "year" : [2001, 2002, 2001, 2008, 2006],
        "time" : [1, 4, 5, 6, 3]}
df = pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [1]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12 ,3]
series = pd.Series(data, index = index)

series_values = series.values # series의 데이터 대입
series_index = series.index # series의 인덱스 대입

print(series_values)
print(series_index)

[10  5  8 12  3]
Index(['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], dtype='object')

In [4]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12 ,3]

series = pd.Series(data, index = index)

pineapple = pd.Series([12], index = ["pineapple"]) # pineapple의 시리즈 요소 정의
series = series.append(pineapple) # 시리즈에 추가

print(series)

series = series.drop("strawberry") # strawberry 요소 삭제
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
pineapple     12
dtype: int64
apple        10
orange        5
banana        8
kiwifruit     3
pineapple    12
dtype: int64

In [5]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index = index)

series = series[series >= 5][series < 10] # 필터링 (5 이상 10 미만의 series 데이터만 저장)
print(series)

orange    5
banana    8
dtype: int64

In [9]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data = [10, 5, 8, 12, 3]
series = pd.Series(data, index = index)

items1 = series.sort_index() # series의 인덱스를 알파벳 순으로 정렬해서 items1에 대입

items2 = series.sort_values() # series의 데이터값을 오름차순으로 정렬해서 items2에 대입


print(items1)
print()
print(items2)

apple         10
banana         8
kiwifruit      3
orange         5
strawberry    12
dtype: int64

kiwifruit      3
orange         5
banana         8
apple         10
strawberry    12
dtype: int64

In [12]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index) # 첫 번째 시리즈 생성 
series2 = pd.Series(data2, index=index) # 두 번째 시리즈 생성

df = pd.DataFrame([series1, series2])
df.index = [1,2] # df의 인덱스가 1부터 시작하도록 설정
print(df)

   apple  orange  banana  strawberry  kiwifruit
1     10       5       8          12          3
2     30      25      12          10          8

In [13]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
data3 = [30, 12, 10, 8, 25, 3]
series1 = pd.Series(data1, index = index)
series2 = pd.Series(data2, index = index)

# df에 series3을 추가하고 df에 다시 대입
index.append("pineapple")
series3 = pd.Series(data3, index = index)
df = pd.DataFrame([series1, series2])

# df에 다시 대입
df = df.append(series3, ignore_index = True)
print(df)

   apple  orange  banana  strawberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     30      25      12          10          8        NaN
2     30      12      10           8         25        3.0

In [14]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12 ,3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

new_column = pd.Series([15, 7], index=[0, 1])

# series1과 series2로 DataFrame 생성
df = pd.DataFrame([series1, series2])

# df에 새로운 열 "mango"를 만들어 new_column의 데이터를 추가
df["mango"] = new_column

print(df)

   apple  orange  banana  strawberry  kiwifruit  mango
0     10       5       8          12          3     15
1     30      25      12          10          8      7

In [18]:
import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# DataFrame을 생성하고 열을 추가
df = pd.DataFrame()
for column in columns : 
    df[column] = np.random.choice(range(1,11), 10)

# range(시작행수, 종료행수 - 1)
df.index = range(1, 11)

# loc[]을 사용하여 df와 2~5행(4개 행)과 "banana", "kiwifruit"의 2열을 포함한 DataFrame을 df에 대입
df = df.loc[range(2, 6), ["banana", "kiwifruit"]]
print(df)

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

In [21]:
import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# DataFrame을 생성하고 열을 추가
df = pd.DataFrame()
for column in columns : 
    df[column] = np.random.choice((1, 11),10)
df.index = range(1, 11)

# drop()을 이용하여 df에서 홀수 인덱스가 붙은 행만 남겨 df에 대입
df = df.drop(np.arange(2, 11, 2))

# drop()을 이용하여 df의 열 "strawberry"를 삭제하고 df에 대입
df = df.drop("strawberry", axis = 1)

print(df)

   apple  orange  banana  kiwifruit
1      1      11       1          1
3     11       1      11          1
5     11       1       1         11
7     11       1      11         11
9     11       1      11          1

In [24]:
import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# DataFrame을 생성하고 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

# df를 "apple", "orange", "banana", "strawberry", "kiwifruit" 순으로 오름차순 정렬
df = df.sort_values(by=columns)
print(df)

    apple  orange  banana  strawberry  kiwifruit
2       1       7      10           4         10
9       3       9       6           1          3
7       4       8       1           4          3
3       4       9       9           9          1
4       4       9      10           2          5
10      5       2       1           2          1
8       6       8       4           8          8
1       6       8       6           3         10
5       8       2       5           4          8
6      10       7       4           4          4

In [25]:
import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

# DataFrame을 생성하고 열을 추가
df = pd.DataFrame()
for column in columns : 
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

# 필터링을 사용하여 df의 "apple" 열이 5 이상, "kiwifruit" 열이 5 이상의 값을 가진 행을 포함한 DataFrame df에 대입
df = df.loc[df["apple"] >= 5]
df = df.loc[df["kiwifruit"] >= 5]

print(df)

   apple  orange  banana  strawberry  kiwifruit
1      6       8       6           3         10
5      8       2       5           4          8
8      6       8       4           8          8

In [27]:
import numpy as np
import pandas as pd

index = ["growth", "mission", "ishikawa", "pro"]
data = [50, 7, 26, 1]

# series 작성
series = pd.Series(data, index = index)

# 인덱스를 알파벳 순으로 정렬한 series를 aidemy에 대입
aidemy = series.sort_index()

# 인덱스가 "tutor"고, 데이터가 30인 요소를 series에 추가
aidemy1 = pd.Series([30], index = ["tutor"])
aidemy2 = series.append(aidemy1)

print(aidemy)
print()
print(aidemy2)

# DataFrame을 생성하고 열을 추가
df = pd.DataFrame()
for index in index :
    df[index] = np.random.choice((1, 11), 10)

# range(시작행, 종료행 - 1)
df.index = range(1, 11)

# loc[]을 사용하여 df의 2~5행 (4개 행)과 "banana", "kiwifruit"의 2열을 포함한 DataFrame을 df에 대입
aidemy3 = df.loc[range(2, 6), ["ishikawa"]]
print()
print(aidemy3)

growth      50
ishikawa    26
mission      7
pro          1
dtype: int64

growth      50
mission      7
ishikawa    26
pro          1
tutor       30
dtype: int64

   ishikawa
2         1
3        11
4        11
5         1