In [1]:
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DataFrame을 난수로 생성하는 함수
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))
    df.index = index
    return df

# 인덱스와 컬럼이 일치하는 DataFrame읆 만든다.
columns = ["apple", "orange", "banana"]
df_data1 = make_random_df(range(1, 5), columns, 0)
df_data2 = make_random_df(range(1, 5), columns, 1)

# df_data1과 df_data2를 세로로 연결하여 df1에 대입
df1 = pd.concat([df_data1, df_data2], axis = 0)

# df_data1과 df_data2를 가로로 연결하여 df2에 대입
df2 = pd.concat([df_data1, df_data2], axis = 1)

print(df1)
print(df2)

   apple  orange  banana
1     45      68      37
2     48      10      88
3     65      84      71
4     68      22      89
1     38      76      17
2     13       6       2
3     73      80      77
4     10      65      72
   apple  orange  banana  apple  orange  banana
1     45      68      37     38      76      17
2     48      10      88     13       6       2
3     65      84      71     73      80      77
4     68      22      89     10      65      72

In [3]:
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DataFrame을 난수로 생성하는 함수
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))
    df.index = index
    return df

columns1 = ["apple", "orange", "banana"]
columns2 = ["orange", "kiwifruit", "banana"]

# 인덱스가 1, 2, 3, 4고, 컬럼이 columns1인 DataFrame을 만든다.
df_data1 = make_random_df(range(1, 5), columns1, 0)

# 인덱스가 1, 3, 5, 7이고, 컬럼이 columns2인 DataFrame을 만든다.
df_data2 = make_random_df(np.arange(1, 8, 2), columns2, 1)

# df_data1과 df_data2를 세로로 연결하여 df1에 대입
df1 = pd.concat([df_data1, df_data2], axis = 0)

# df_data1과 df_data2를 가로로 연결하여 df2에 대입
df2 = pd.concat([df_data1, df_data2], axis = 1)

print(df1)
print(df2)

   apple  orange  banana  kiwifruit
1   45.0      68      37        NaN
2   48.0      10      88        NaN
3   65.0      84      71        NaN
4   68.0      22      89        NaN
1    NaN      38      17       76.0
3    NaN      13       2        6.0
5    NaN      73      77       80.0
7    NaN      10      72       65.0
   apple  orange  banana  orange  kiwifruit  banana
1   45.0    68.0    37.0    38.0       76.0    17.0
2   48.0    10.0    88.0     NaN        NaN     NaN
3   65.0    84.0    71.0    13.0        6.0     2.0
4   68.0    22.0    89.0     NaN        NaN     NaN
5    NaN     NaN     NaN    73.0       80.0    77.0
7    NaN     NaN     NaN    10.0       65.0    72.0

In [4]:
import numpy as np
import pandas as pd

# 지정한 인덱스와 컬럼을 가진 DataFrame을 난수로 생성하는 함수
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))
    df.index = index
    return df

# 인덱스와 컬럼이 일치하는 DataFrame읆 만든다.
columns = ["apple", "orange", "banana"]
df_data1 = make_random_df(range(1, 5), columns, 0)
df_data2 = make_random_df(range(1, 5), columns, 1)

# df_data1과 df_data2를 가로로 연결하고, keys로 "X"와 "Y"를 지정하여 MultiIndex로 만든 뒤 df에 대입
df = pd.concat([df_data1, df_data2], axis = 1, keys=["X", "Y"])

# df의 "Y"레벨 "banana"를 Y_banana에 대입
Y_banana = df["Y", "banana"]

print(df)
print()
print(Y_banana)

      X                   Y
  apple orange banana apple orange banana
1    45     68     37    38     76     17
2    48     10     88    13      6      2
3    65     84     71    73     80     77
4    68     22     89    10     65     72

1    17
2     2
3    77
4    72
Name: (Y, banana), dtype: int64

In [7]:
import numpy as np
import pandas as pd

data1 = {"fruits": ["apple", "orange", "banana", "strawberry", "kiwifruit"],
         "year": [2001, 2002, 2001, 2008, 2006],
         "amount": [1, 4, 5, 6, 3]}
df1 = pd.DataFrame(data1)

data2 = {"fruits": ["apple", "orange", "banana", "strawberry", "mango"],
         "year": [2001, 2002, 2001, 2008, 2007],
         "price": [150, 120, 100, 250, 3000]}
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)
print()

# df1과 df2의 컬럼 "fruits"를 key로 하여 내부 결합한 DataFrame을 df3에 대입
df3 = pd.merge(df1, df2, on = "fruits", how = "inner")
print(df3)

       fruits  year  amount
0       apple  2001       1
1      orange  2002       4
2      banana  2001       5
3  strawberry  2008       6
4   kiwifruit  2006       3

       fruits  year  price
0       apple  2001    150
1      orange  2002    120
2      banana  2001    100
3  strawberry  2008    250
4       mango  2007   3000

       fruits  year_x  amount  year_y  price
0       apple    2001       1    2001    150
1      orange    2002       4    2002    120
2      banana    2001       5    2001    100
3  strawberry    2008       6    2008    250

In [ ]:
import numpy as np
import pandas as pd

data1 = ["fruits": ["apple", "orange", "banana", "strawberry", "kiwifruit"],
         "year": [2001, 2002, 2001, 2008, 2006],
         "amount": [1, 4, 5, 6, 3]]
df1 = pd.DataFrame(data2)